[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clang = "*"
hawkmoth = "*"
loguru = "*"
myst-parser = {extras = ["testing", "code_style", "linkify", "rtd"], version = "*"}
pipenv = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-git = "*"
sphinx-last-updated-by-git = "*"
sphinxcontrib-autoyaml = "*"
version-query = "*"
black = "*"

[dev-packages]
